.body {
  color: var(--white);
  min-height: var(--main-height);
  background-color: var(--blue-background);
  background-image: url("../public/assets/coming_soon_background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: red;
}
.container {
  text-align: center;
  margin: auto;
  margin-top: -2rem;
  padding-top: 1rem;
  padding: 1rem;
  margin-bottom: 5rem;
}

.heading {
  text-transform: uppercase;
  font-size: 3rem;
}

.paragraph {
  width: 100%;
  max-width: 550px;
  margin: auto;
  padding-bottom: 2rem;
}

.cardsContainer {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: var(--black);
}

.card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 90px;
  padding: 1rem;
  border-radius: 5px;
}

.card > b {
  font-size: 2rem;
}
.firstLastName,
.emailSubmit {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  flex-wrap: wrap;
}
.firstLastName > *::placeholder {
  color: var(--gray-medium);
  font-weight: 500;
}
.firstLastName > * {
  border: none;
  border-bottom: 1px solid var(--gray-light);
  border-width: 3px;
  outline: none;
  background-color: transparent;
  padding: 0.5rem;
  color: var(--gray-medium);
}

.firstLastName > *:focus {
  background-color: white;
}
.emailSubmit > * {
  padding: 0.7rem 1rem;
  border-radius: 50px;
  font-size: 0.7rem;
}
.emailSubmit > input {
  background-color: white;
  color: var(--gray-light);
}
.emailSubmit > button {
  background-color: var(--blue-medium);
  color: var(--white);
  margin-left: -4rem;
  box-shadow: 0 0 5px var(--blue-medium);
  border: none;
  cursor: pointer;
}

@media (min-width: 769px) {
  .emailSubmit > input {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 1.5rem;
  }
  .formContainer {
    padding: 1rem;
  }
  .emailSubmit > button {
    background-color: var(--blue-medium);
    color: var(--white);
    margin-left: 0;
  }
}
