.container {
  background-color: var(--white);
  overflow-x: hidden;
}

.header {
  background-color: var(--gray-dark);
  border: 1px solid var(--black);
  padding: 0.5rem 0.8rem 1.5rem;
}

.heading {
  margin-top: 0;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
}

.icon {
  cursor: pointer;
}

.sectionOneDiv {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  margin: auto;
  gap: 0.2rem;
}

.form {
  display: flex;
  flex: 1;
  gap: 0.2rem;
}

.input {
  flex: 1;
  width: 80%;
}

.sectionTwo {
  padding: 1rem;
  padding-top: 3rem;
}

.sectionTwoArticle {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 1rem;
  border: 1px solid var(--black);
  width: 100%;
  max-width: 800px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 200px;
}

@media (max-width: 480px) {
  .sectionTwoArticle {
    flex-direction: column;
  }
}
.spinnerContainer {
  min-height: 60vh;
}
.spinner {
  height: 100px;
  width: 100px;
  border: 2px solid var(--black);
  border-right-color: transparent;
  animation: spinner 1s forwards infinite;
  border-radius: 50%;
  margin: auto;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}

.metaContainer {
  border: 1px solid red;
}

.stars,
.issues,
.submitted {
  margin-right: 0.5rem;
  padding: 0.2rem 0.5rem;
  line-height: 2;
  display: inline-block;
}

.stars,
.issues {
  border: 1px solid var(--black);
  border-radius: 5px;
}

.repositoryDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
