.container {
  padding: 0 2rem;
  text-align: center;
  color: white;
  background-color: var(--blue-background);
  height: var(--main-height);
}

.heading {
  margin-top: 0;
}

.view {
  background-color: var(--blue-medium);
  border-radius: 20px;
  width: max-content;
  padding: 0.5rem 1rem;
  font-weight: 600;
  margin-right: 1rem;
}
