.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  background-color: var(--blue-background);
  color: var(--white);
}
.container.blog {
  background-color: var(--white);
  color: var(--black);
}

.linksContainer {
  text-transform: uppercase;
}

.container.blog > .linksContainer {
  background-color: var(--white);
  font-weight: 500;
}
.linksContainer > * {
  padding: 0.5rem 0.8rem;
}

.contactUsAnchor {
  background-color: var(--blue-medium);
  border-radius: 20px;
  width: max-content;
}

.container.blog .contactUsAnchor {
  background-color: rgb(245, 243, 243);
}

.linksContainer > *:hover {
  opacity: 0.8;
}

@media (min-width: 769px) {
  .container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .linksContainer > * {
    margin: auto 1rem;
  }
  .bar {
    display: none;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
  }

  .linksContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: var(--blue-background);
    width: 100%;
    left: 0;
    padding: 1rem;
    gap: 1rem;
  }

  .toggleBar {
    display: none;
  }

  .bar {
    cursor: pointer;
  }

  .bar.active {
    transform: rotate(90deg);
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  min-height: var(--main-height);
  z-index: 999;
}
